# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
pwd

'C:\\Users\\aibid\\OneDrive\\STUDIES\\PYTHON\\PYTHON DATA ANALYSIS & VISUALIZATION MASTERCLASS - COLT STEEL\\DataAnalysisCourseMaterials\\DataAnalysis\\My Solutions'

In [3]:
import pandas as pd
import os
import shutil

In [4]:
bestsellers = pd.read_csv('../data/bestsellers.csv')

In [6]:
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [7]:
bestsellers.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [8]:
# Find the lowest User Rating in the DF

bestsellers['User Rating'].min()

3.3

In [9]:
# Find the highest Price in the DF

bestsellers['Price'].max()

105

In [11]:
# What is the average User Rating?

round(bestsellers['User Rating'].mean(), 3)

4.618

In [13]:
# What the average User Rating of the first 5 rows?

bestsellers['User Rating'].head().mean()

4.7

In [14]:
# What User Review score appeared the most?

bestsellers['User Rating'].mode()

0    4.8
dtype: float64

In [15]:
# What is the total (sum) of all the values in the Reviews column?

bestsellers['Reviews'].sum()

6574305

In [17]:
# How many different authors are featured in the dataset?

bestsellers['Author'].nunique()

248

In [38]:
# Which author wrote the most number of books on the list? How many did they write?

bestsellers['Author'].describe(include='O')

count             550
unique            248
top       Jeff Kinney
freq               12
Name: Author, dtype: object